@import 'Var';
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: $font-family;
  @include theme-bg;
  @media screen and (max-width: 768px){
    @include center;
    flex-direction: column-reverse;
    overflow: hidden;
  }
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.button-icon{
  margin: 10px 0;
  width: 50px;
  min-height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  @include bg-app;
  @media screen and (max-width: 540px) {
    margin: 5px 0;
  }
}