@import 'Var';

.header{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;

    @media screen and (max-width: 540px){
      margin: 5px auto;
    }
    &__title{
      margin-right: 20px;
      font-size: 40px;
      @include theme-color;
      @media screen and (max-width: 540px){
        font-size: 26px;
      }
      &.projects{
        border-bottom: 5px solid $bg-projects;
      }
      &.lists{
        border-bottom: 5px solid $bg-lists;
      }
    }
      &__button{
        margin-right: 5px;
      }
      &__input{
        font-size: 40px;
        max-width: 250px;
        font-family: $font-family;
        margin-right: 20px;
        border: none;
        background: transparent;
        @include theme-color;
        @media screen and (max-width: 540px){
          font-size: 26px;
          max-width: 150px;
        }
        &.projects{
          border-bottom: 5px solid $bg-projects;
        }
        &.lists{
          border-bottom: 5px solid $bg-lists;
        }
      }
      &__actionBox{
        @include center;
        width: 250px;
        border-radius: 20px;
        @include bg-app-second;
        position: relative;
        &-search{
          display: flex;
          align-items: center;
          width: 200px;
          height: 30px;
          margin: 5px;
          box-shadow: 0 0 5px rgba(0,0,0,.1);
          border-radius: 5px;
          @include bg-app;
          &.input{
            background: transparent;
            border: none;
            font-family: $font-family;
            box-shadow: none;
          }
        }
      }
    
}

.moreIcon-container{
  position: relative;
  z-index: 100;
}
.moreIcon-box{
  position: absolute;
  top: 65px;
  right: -5px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  @include theme-bg;
}