@import 'Var';

.main{
  padding-left: 20px;
  height: 100%;
  overflow: hidden;
  background: transparent;
  &__section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    overflow: scroll;
   
    @media screen and (max-width: 768px){
      width: 100vw;
      margin: 10px 5px;
      -ms-overflow-style: none;  
      scrollbar-width: none;  
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-title{
      margin: 10px 0;
      @include theme-color;
    }
    &-container{
      margin: 0 10px;
    }
    &-box{
      @include center;
      width: 350px;
      height: 550px;
      border-radius: 15px;
      overflow: hidden;
      margin-right: 15px;
      &.dark{
        background: rgba(85,85,85,0.25);
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        border: 1px solid rgba( 85,85,85, 0.18 );
      }
      &.light{
        background: rgba(238,238,238,0.5);
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        border: 1px solid rgba( 238,238,238, 0.18 );
      }
      @media screen and (max-width: 540px){
        width: 300px;
        height: 450px;
      }
    }
    &-items{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow: scroll;
      -ms-overflow-style: none;  
      scrollbar-width: none;  
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
      width: 90%;
      height: auto;
      border-radius: 10px;
      @include theme-bg-filter;
      &-title{
        font-size: 20px;
        font-weight: 300;
        margin: 0 10px;
        padding: 5px 0;
        @include theme-color;
        @media screen and (max-width: 540px){
          font-size: 16px;
        }
        &.done{
          font-style: italic;
        }
        &.input{
          border: none;
          background: transparent;
          font-family: $font-family;
        }
      }
      &.dark > .MuiSvgIcon-root,
      &.dark > div .MuiSvgIcon-root{
        color: #ffffff;
        margin-right: 5px;
      }
      &.light > .MuiSvgIcon-root,
      &.light > div .MuiSvgIcon-root{
        color: #000000;
        margin-right: 5px;
      }
      &-subtitle{
        font-size: 12px;
        margin: 0 10px;
        @include theme-color-second;
      }

    }
    // Main Project accordion
    &-accordion{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 5px;
      width: 90%;
      height: auto;
      border-radius: 10px !important;
      font-family: $font-family !important;
      @include theme-bg;
      &.finished{
        @include theme-bg-second;
      }
      &.userBox{
        border: 2px solid $bg-projects-second;
        //background: $bg-projects-second;
      }
      &-title{
        font-size: 16px;
        font-weight: 300;
        min-width: 180px !important;
        margin: 0 10px;
        padding: 5px 0;
        font-family: $font-family !important;
        @include theme-color;
        @media screen and (max-width: 540px){
          font-size: 12px !important;
          min-width: 130px !important;
        }
        &.done{
          font-style: italic;
        }
        &.input{
          border: none;
          background: transparent;
          font-family: $font-family;
        }
      }
      &-subtitle{
        font-size: 12px !important;
        font-weight: 100;
        margin: 0 10px;
        padding: 5px 0;
        text-align: left;
        font-family: $font-family !important;
        @include theme-color;
        @media screen and (max-width: 540px){
          font-size: 10px !important;
        }
      }
      &.dark > .MuiSvgIcon-root,
      &.dark > div .MuiSvgIcon-root{
        color: #ffffff;
        margin-right: 5px;
      }
      &.light > .MuiSvgIcon-root,
      &.light > div .MuiSvgIcon-root{
        color: #000000;
        margin-right: 5px;
      }
      &-details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-width: 250px;
      }
      &-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        cursor: pointer;
      }

    }
  }
}