@import 'Var';
.moreIcon-container{
  position: relative;
  z-index: 100;
}
.moreIcon-box{
  position: absolute;
  top: 65px;
  right: -5px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
  @include theme-bg;
}