@import 'Var';

.nav{
  @include center;
  height: 100vh;
  width: 70px;
  @media screen and (max-width: 768px){
    flex-direction: row;
    width: 100vw;
    height: 70px;
  }
  @media screen and (max-width: 540px){
    flex-direction: row;
    width: 100vw;
    height: 50px;
  }
  &.projects{
    background: $bg-projects;
  }
  &.lists{
    background: $bg-lists;
  }
  &-list{
    @include center;
    @media screen and (max-width: 768px){
      flex-direction: row;
    }
  }
  &-item{
    @include center;
    width: 70px;
    height: 50px;
    @media screen and (max-width: 768px){
      flex-direction: row;
    }
    &:hover{
      background: rgba(255,255,255,.3);
    }
    &.projects{
      background: $bg-projects-second;
    }
    &.lists{
      background: $bg-lists-second;
    }
  }
  &-link{
    @include center;
    width: 100%;
    height: 100%;
    color: #000000;
    & > .MuiSvgIcon-root{
      font-size: 40px;
      @media screen and (max-width: 540px){
        font-size: 26px;
      }
    }
  }

}
