@import 'Var';

.nav{
  @include center;
  height: 100vh;
  width: 70px;
  @include bg-app;
  @media screen and (max-width: 768px){
    flex-direction: row;
    width: 100vw;
    height: 70px;
  }
  @media screen and (max-width: 540px){
    flex-direction: row;
    width: 100vw;
    height: 50px;
  }
  &__user{
    max-width: 70px;
    margin: 2px;
    @include center;
    position: absolute;
    top: 0;
    @media screen and (max-width: 768px){
      display: none;
    }
    & img{
      max-width: 50px;
    }
    &-name{
      font-size: 10px;
      max-width: 50px;
    }
  }
  &-list{
    @include center;
    @media screen and (max-width: 768px){
      flex-direction: row;
    }
  }
  &-item{
    @include center;
    width: 70px;
    height: 50px;
    @media screen and (max-width: 768px){
      flex-direction: row;
    }
    &.light:hover, &.active.light{
      background: rgba(255,255,255,.3);
    }
    &.dark:hover, &.active.dark{
      background: rgba(0,0,0,.25);
    }
  }
  &-link{
    @include center;
    width: 100%;
    height: 100%;
    color: #000000;
    cursor: pointer;
    &.color{
      border: none;
      background: transparent;
    }
    & > .MuiSvgIcon-root{
      font-size: 40px;
      @media screen and (max-width: 540px){
        font-size: 26px;
      }
    }
  }

}
