@import 'Var';
.sidebar{
  height: 100%;
  width: 250px;
  overflow: scroll;
  @media screen and (max-width: 768px){
    flex-direction: row;
    width: 100vw;
    height: 250px;
    overflow: hidden;
  }
  @media screen and (max-width: 540px){
    flex-direction: row;
    width: 100vw;
    height: 200px;
  }
  &.projects{
    background: $bg-projects-second;
  }
  &.lists{
    background: $bg-lists-second;
  }
  &__header{
    @include center;
    margin: 20px auto;
    @media screen and (max-width: 768px){
      margin: 5px auto;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__title{
    font-size: 30px;
    @media screen and (max-width: 768px){
      font-size: 26px;
    }
    @media screen and (max-width: 540px){
      font-size: 22px;
    }
  }
  &__add{
    background: $bg-box;
    margin: 10px 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    @media screen and (max-width: 768px){
      margin: 0;
      width: 30px;
      height: 30px;
    }
  }
  &__boxes{
    @include center;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    @media screen and (max-width: 768px){
      flex-direction: row;
      justify-content: flex-start;
      overflow: scroll;
    }
    &::-webkit-scrollbar {
      display: none;
    }

  }
  &__box{
    margin: 5px;
    width: 200px;
    min-height: 75px;
    background: $bg-box;
    border-radius: 20px;
    @media screen and (max-width: 768px){
      min-width: 200px;
    }
    cursor: pointer;
    &-title{
      margin: 5px;
    }
    &-subtitle{
      margin: 5px;
    }
  }
}