@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$bg-office: #859696;
$bg-office-second: #a8bcbc;
$bg-projects: rgba(23, 207, 207, 0.75);
$bg-projects-second: rgba(23, 207, 207, 0.5);
$bg-lists: rgba(236, 220, 75,0.75);
$bg-lists-second: rgba(236, 220, 75,0.5);
//$bg-lists-second: rgba(240, 229, 133, 0.75);
$bg-budgets: #5fec76;
$bg-budgets-second: #f0e585;
$bg-calendars: #e77c1a;
$bg-calendars-second: #f0e585;
$font-family: 'Poppins', sans-serif;
$bg-box: rgba(255,255,255,.75);
$bg-box-dark: rgba(0,0,0,.75);
@mixin center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin bg-app{
  &.projects{
    background: $bg-projects;
  }
  &.lists{
    background: $bg-lists;
  }
  &.budgets{
    background: $bg-budgets;
  }
  &.calendars{
    background: $bg-calendars;
  }
  &.office{
    background: $bg-office;
  }
}
@mixin bg-app-second{
  &.projects{
    background: $bg-projects-second;
  }
  &.lists{
    background: $bg-lists-second;
  }
  &.budgets{
    background: $bg-budgets-second;
  }
  &.calendars{
    background: $bg-calendars-second;
  }
  &.office{
    background: $bg-office-second;
  }
}
@mixin bg-app-shadow{
  &.projects{
    box-shadow: 0 0 10px $bg-projects;
  }
  &.lists{
    box-shadow: 0 0 10px $bg-lists;
  }
  &.budgets{
    box-shadow: 0 0 10px $bg-budgets;
  }
  &.calendars{
    box-shadow: 0 0 10px $bg-calendars;
  }
  &.office{
    box-shadow: 0 0 10px $bg-office;
  }
}
@mixin theme-bg{
  &.light{
    background: #ffffff;
  }
  &.dark{
    background: #111111;
  }
}
@mixin theme-color{
  &.light{
    color: #000000;
  }
  &.dark{
    color: #ffffff;
  }
}
@mixin theme-color-second{
  &.light{
    color: #333333;
  }
  &.dark{
    color: #dddddd;
  }
}
