@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$bg-office: #859696;
$bg-office-second: #a8bcbc;
$bg-projects: rgba(95, 236, 118, 0.75);
$bg-projects-second: rgba(95, 236, 118, 0.5);
$bg-lists: rgba(236, 220, 75,0.75);
$bg-lists-second: rgba(236, 220, 75,0.5);
//$bg-lists-second: rgba(240, 229, 133, 0.75);
$bg-budgets: rgba(23, 207, 207, 0.75);
$bg-budgets-second: rgba(23, 207, 207, 0.5);
$bg-folders: rgba(97, 44, 241, 0.75);
$bg-folders-second: rgba(97, 44, 241, 0.5);
$bg-calendars: #e77c1a;
$bg-calendars-second: #f0e585;
$font-family: 'Poppins', sans-serif;
$bg-box: rgba(255,255,255,.75);
$bg-box-dark: rgba(0,0,0,.75);
$color-red: #f44336;
$color-green: #7be495;
$color-blue: #00B0FF;
$bg-green: linear-gradient(45deg, #7be495, #209e3f 50%);
$bg-red: linear-gradient(45deg, #fa5c51, #f44336 50%);
$bg-blue: linear-gradient(45deg, #00B0FF, #0383be 50%);
@mixin center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin bg-app{
  &.projects{
    background: $bg-projects;
  }
  &.lists{
    background: $bg-lists;
  }
  &.budgets{
    background: $bg-budgets;
  }
  &.folders{
    background: $bg-folders;
  }
  &.calendars{
    background: $bg-calendars;
  }
  &.office{
    background: $bg-office;
  }
  &.green{
    background: $bg-green;
  }
  &.red{
    background: $bg-red;
  }
  &.blue{
    background: $bg-blue;
  }
}
@mixin bg-app-second{
  &.projects{
    background: $bg-projects-second;
  }
  &.lists{
    background: $bg-lists-second;
  }
  &.budgets{
    background: $bg-budgets-second;
  }
  &.folders{
    background: $bg-folders-second;
  }
  &.calendars{
    background: $bg-calendars-second;
  }
  &.office{
    background: $bg-office-second;
  }
}
@mixin bg-app-shadow{
  &.projects{
    box-shadow: 0 0 10px $bg-projects;
  }
  &.lists{
    box-shadow: 0 0 10px $bg-lists;
  }
  &.budgets{
    box-shadow: 0 0 10px $bg-budgets;
  }
  &.folders{
    box-shadow: 0 0 10px $bg-folders;
  }
  &.calendars{
    box-shadow: 0 0 10px $bg-calendars;
  }
  &.office{
    box-shadow: 0 0 10px $bg-office;
  }
}
@mixin color-app{
  &.projects{
    color: $bg-projects;
  }
  &.lists{
    color: $bg-lists;
  }
  &.budgets{
    color: $bg-budgets;
  }
  &.folders{
    color: $bg-folders;
  }
  &.calendars{
    color: $bg-calendars;
  }
  &.office{
    color: $bg-office;
  }
  &.green{
    color: $bg-green;
  }
  &.red{
    color: $bg-red;
  }
  &.blue{
    color: $bg-blue;
  }
}
@mixin theme-bg{
  &.light{
    background: #ffffff;
  }
  &.dark{
    background: #111111;
  }
}
@mixin theme-bg-second{
  &.light{
    background: #dddddd;
  }
  &.dark{
    background: #333333;
  }
}
@mixin theme-bg-filter{
  &.dark{
    background: linear-gradient(45deg, rgba(0,0,0,0.75) 0%, rgba(18,18,18,.75) 33%, rgba(18,18,18,.75) 68%, rgba(0,0,0,.75) 100%);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: inset -2px 0px 2px 0 rgba(0,0,0, 0.2),
    2px 0px 2px 0 rgba(0,0,0, 0.2);
  }
  &.light{
    background: #ffffff;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: inset -2px 0px 2px 0 rgba(255,255,255, 0.8),
    2px 0px 2px 0 rgba(255,255,255, 0.8);
  }
}
@mixin theme-color{
  &.light{
    color: #000000;
  }
  &.dark{
    color: #ffffff;
  }
}
@mixin theme-color-second{
  &.light{
    color: #333333;
  }
  &.dark{
    color: #dddddd;
  }
}
